/*==========================================
TICKETS.SCSS
D. Allen 2017
===========================================*/



/*=========================
TICKET GISTS
==========================*/

.tickets-list li {
  margin: 1.25em 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.ticket-gist-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0.75em;
  border: solid 1px grey;
  border-radius: 3px;

  div {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    div {
      padding: 0.25em;
      border-radius: 3px;
      margin: 0 0.125em;
    }

    .ticket-subject {
      white-space: normal;
      font-weight: bold;
    }
  }
}



/*=========================
FULL TICKET DISPLAY
==========================*/

.ticket-container {
  display: flex;
  flex-flow: column;
  padding: 1em;
  border: solid 1px grey;
  border-radius: 3px;

  div {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    div {
      padding: 0.25em;
      border-radius: 3px;
      margin: 0 0.25em;
    }

    .ticket-subject {
      white-space: normal;
      font-weight: bold;
      margin: 1em 0 0.25em;
    }

    .ticket-description {
      white-space: normal;
      line-height: 1.1em;
    }
  }

  .ticket-meta {
    flex-wrap: wrap;
    font-size: 0.85em;
  }

  .meta-top {
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;

    div {
      margin-bottom: 0.5em
    }
  }

  .meta-bottom {
    padding-bottom: 0.5em;
  }
}

.status-open,
.priority-urgent {
  background-color: tomato;
}

.status-new,
.priority-normal {
  background-color: lightblue;
}

.status-pending,
.priority-high {
  background-color: gold;
}

.status-solved,
.priority-low {
  background-color: limegreen;
}

.status-closed {
  background-color: dimgrey;
}



/*=========================
RESPONSIVE CSS
==========================*/

@media screen and (min-width: 600px) {

  /*------------------
  FULL TICKETS
  -------------------*/

  .ticket-subject h3 {
    font-size: 1.65em;
  }

} /*End 600px query*/
