<%= render 'paginate', prev_page: @prev, next_page: @next %>

<ul class="tickets-list">
  <% @tickets.each do |ticket| %>
    <li>
      <a href="/ticket?id=<%= ticket['id'] %>" target="_blank">
        <%= render 'ticket_gist', ticket: ticket %>
      </a>
    </li>
  <% end %>
</ul>

<%= render 'paginate', prev_page: @prev, next_page: @next %>
