<% @current_page ? title = "Ticket Index, Page #{@current_page}" : title = "Ticket Index" %>
<% provide :title, title %>
<% provide :heading, 'Zendesk Ticket Viewer' %>

<%= render 'navigation', tickets: @tickets, prev_page: @prev_page, next_page: @next_page %>

<ul class="tickets-list">
  <% @tickets.each do |ticket| %>
    <li>
      <a href="/ticket?id=<%= ticket['id'] %>">
        <%= render 'ticket_gist', ticket: ticket %>
      </a>
    </li>
  <% end %>
</ul>

<%= render 'navigation', tickets: @tickets, prev_page: @prev_page, next_page: @next_page %>
