<% @current_page ? title = "Ticket Index, Page #{@current_page}" : title = "Ticket Index" %>
<% provide :title, title %>
<% provide :heading, 'Zendesk Ticket Viewer' %>

<%= render 'navigation' %>

<ul class="tickets-list">
  <% @tickets.each do |ticket| %>
    <li>
      <%= link_to ticket_path(ticket['id']) do %>
        <%= render 'ticket_gist', ticket: ticket %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render 'navigation' %>
