<%= render 'paginate', prev_page: @prev, next_page: @next %>

<ul class="tickets-list">
  <% @tickets.each do |ticket| %>
    <li><%= render 'ticket_gist', ticket: ticket %></li>
  <% end %>
</ul>

<%= render 'paginate', prev_page: @prev, next_page: @next %>
